section.influencer 
    .influencer__container
        h1.influencer__title-1 Everyone<br> is an Influencer
        p.influencer__text 
            | Budss is a payments as a service and WOM engine dedicated to acquisition and retention 
            | of customers to your business.
        include ../button/button.pug
        +btn('Contact sales')(class='influencer__btn btn-secondary show-form')
    picture.influencer__img
        source(media="(max-width: 376px)", srcset=require('../../images/chika.png'))
        source(media="(min-width: 841px)", srcset=require('../../images/chika__desktop.webp'))
        source(media="(min-width: 1439px)", srcset=(require('../../images/chika__desktop__2x.webp') + ' ' +'2x'))
        img(src=require('../../images/chika.png') alt='beautiful baby')