.influencer {
    display: flex;
    flex-direction: column;
    padding: 51px 16px 40px 16px;
    color: $grayscale-07;

    @include respond{
        flex-direction: row;
        justify-content: space-between;
        padding: 80px 0 0 60px;
    }

    &__title-1 {
        @include t6-bold-40;

        @include respond{
            @include t2-bold-96; 
        }

        margin-bottom: 20px;
    }

    &__text {
        @include b2-regular-16;

        @include respond{
            @include s6-regular-20;

            padding-right: 137px;
        }

        margin-bottom: 40px;
    }

    &__btn {
        margin-bottom: 137px;
    }

    &__img {
        align-self: end;
        transform: translateX(16px);

        @include respond{
            width: 595px;
            height: 529px;
            transform: translateX(0);
        }
    }
}