section.influencer 
    h1.influencer__title-1 Everyone<br> is an Influencer
    p.influencer__text 
        | Budss is a payments as a service and WOM engine dedicated to acquisition and retention 
        | of customers to your business.
    include ../button/button.pug
    +btn('Contact sales')(class='influencer__btn')
    image(src=require('../../images/chika.png')).influencer__img