.menu {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        list-style: none;
    }

    &__link {
        @include s5-medium-20;

        color: $grayscale-07;
        text-decoration: none;
    }
}