.menu {
    &__list {
        list-style: none;
        display: flex;
        gap: 16px;
        flex-direction: column;
    }
    &__item {

    }
    &__link {
        @include s5-Medium-20;
        text-decoration: none;
        color: $grayscale-07;
    }
}