.btn {
    @include s4-semibold-20;

    width: 100%;
    padding: 16px 30px;
    color: $grayscale-07;
    background-color: $primary-01;
    border: none;
    border-radius: 16px;
    cursor: pointer;

    &-disabled {
        background-color: $grayscale-03;
    }

    @include respond{
        width: 182px;
    }
}