- var menuItems = ['For Business', 'For Customers', 'Privacy Policy', 'Terms Of Use - Seller', 'Terms of Use - Sellers & Customers']
include ../button/button.pug

nav.nav
    +btn('Contact sales')(class='nav__btn-desktop btn-secondary show-form')
    button(type='button' title='button burger menu').hamburger 
        span.hamburger__icon-open 
    .nav__overlay     
        img(src=require('../../images/icons/icon__close.svg') width=40 height=40 alt='icon closed').nav__img   
        +btn('Contact sales')(class='nav__btn btn-secondary show-form')
        ul.nav__menu
            each val in menuItems
                li.nav__menu_item
                    a(href="#").nav__menu_link= val
            