
.burger{
    position: relative;
    display: block;
    width: 24px;
    height: 2px;
    margin-left: auto;
    background-color: $grayscale-07;

    &::before {
        position: absolute;
        top: 7px;
        width: 24px;
        height: 2px;
        background-color: $grayscale-07;
        content: '';
    }

    &::after {
        position: absolute;
        top: -7px;
        width: 24px;
        height: 2px;
        background-color: $grayscale-07;
        content: '';
    }
}