@font-face {
    font-weight: 400;
    font-family: Outfit-Bold;
    font-style: normal;
    src: url('../fonts/Outfit-Bold.woff2'), url("../fonts/Outfit-Bold.woff");
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-family: Outfit-Light;
    font-style: normal;
    src: url('../fonts/Outfit-Light.woff2'), url("../fonts/Outfit-Light.woff");
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-family: Outfit-Medium;
    font-style: normal;
    src: url('../fonts/Outfit-Medium.woff2'), url("../fonts/Outfit-Medium.woff");
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-family: Outfit-Regular;
    font-style: normal;
    src: url('../fonts/Outfit-Regular.woff2'), url("../fonts/Outfit-Regular.woff");
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-family: Outfit-Semibold;
    font-style: normal;
    src: url('../fonts/Outfit-Semibold.woff2'), url("../fonts/Outfit-Semibold.woff");
    font-display: swap;
}