@font-face {
    font-family: "Outfit-Bold";
    src: url('../fonts/Outfit-Bold.woff2'), url("../fonts/Outfit-Bold.woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit-Light";
    src: url('../fonts/Outfit-Light.woff2'), url("../fonts/Outfit-Light.woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit-Medium";
    src: url('../fonts/Outfit-Medium.woff2'), url("../fonts/Outfit-Medium.woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit-Regular";
    src: url('../fonts/Outfit-Regular.woff2'), url("../fonts/Outfit-Regular.woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit-Semibold";
    src: url('../fonts/Outfit-Semibold.woff2'), url("../fonts/Outfit-Semibold.woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}