.T1_Bold_128 {
    font-family: 'Outfit-Bold';
    font-size: 128px;
    line-height: 106%;
}

.T2_Bold_96 {
    font-family: 'Outfit-Bold';
    font-size: 96px;
    line-height: 106%; 
}

.T3_Bold_64 {
    font-family: 'Outfit-Bold';
    font-size: 64px;
    line-height: 106%; 
}

.T4_Bold_48 {
    font-family: 'Outfit-Bold';
    font-size: 48px;
    line-height: 106%;
}

.T5_SemiBold_48{
    font-family: 'Outfit-SemiBold';
    font-size: 48px;
    line-height: normal;
}

.T6_Bold_40 {
    font-family: 'Outfit-Bold';
    font-size: 40px;
    line-height: 106%;
}

.T7_Bold_32 {
    font-family: 'Outfit-Bold';
    font-size: 32px;
    line-height: 106%;
}
.T8_Bold_86 {
    font-family: 'Outfit-Bold';
    font-size: 86px;
    line-height: 106%; 
}

.S1_SemiBold_36{
    font-family: 'Outfit-SemiBold';
    font-size: 36px;
    line-height: normal; 
}

.S2_SemiBold_24{
    font-family: 'Outfit-SemiBold';
    font-size: 24px;
    line-height: 120%;
}

.S3_Regular_24 {
    font-family: 'Outfit-Regular';
    font-size: 24px;
    line-height: 120%;
}

.S4_SemiBold_20 {
    font-family: 'Outfit-SemiBold';
    font-size: 20px;
    line-height: normal;
}

.S5_Medium_20 {
    font-family: 'Outfit-Medium';
    font-size: 20px;
    line-height: normal;   
}

.S6_Regular_20 {
    font-family: 'Outfit-Regular';
    font-size: 20px;
    line-height: 120%; 
}
.S7_Light_20{
    font-family: 'Outfit-Light';
    font-size: 20px;
    line-height: 140%;
}

@mixin B1_Medium_16{
    font-family: 'Outfit-Medium';
    font-size: 16px;
    line-height: normal;
}

.B2_Regular_16{
    font-family: 'Outfit-Regular';
    font-size: 16px;
    line-height: normal;
}

.B3_Medium_14{
    font-family: 'Outfit-Medium';
    font-size: 14px;
    line-height: 22px;
}

.B4_Regular_14{
    font-family: 'Outfit-Regular';
    font-size: 14px;
    line-height: 22px;
}

.B5_Light_14{
    font-family: 'Outfit-Light';
    font-size: 14px;
    line-height: 140%;   
}
.B6_Light_14_Underline {
    font-family: 'Outfit-Light';
    font-size: 14px;
    line-height: 140%; 
}

.B7_Regular_12 {
    font-family: 'Outfit-Regular';
    font-size: 12px;
    line-height: 20px; 
}