@mixin t1-Bold-128 {
    font-size: 128px;
    font-family: Outfit-Bold;
    line-height: 106%;
}

@mixin t2-Bold-96 {
    font-size: 96px;
    font-family: Outfit-Bold;
    line-height: 106%; 
}

@mixin t3-Bold-64 {
    font-size: 64px;
    font-family: Outfit-Bold;
    line-height: 106%; 
}

@mixin t4-Bold-48 {
    font-size: 48px;
    font-family: Outfit-Bold;
    line-height: 106%;
}

@mixin t5-SemiBold-48{
    font-size: 48px;
    font-family: Outfit-SemiBold;
    line-height: normal;
}

@mixin t6-Bold-40 {
    font-size: 40px;
    font-family: Outfit-Bold;
    line-height: 106%;
}

@mixin t7-Bold-32 {
    font-size: 32px;
    font-family: Outfit-Bold;
    line-height: 106%;
}

@mixin t8-Bold-86 {
    font-size: 86px;
    font-family: Outfit-Bold;
    line-height: 106%; 
}

@mixin s1-SemiBold-36{
    font-size: 36px;
    font-family: Outfit-SemiBold;
    line-height: normal; 
}

@mixin s2-SemiBold-24{
    font-size: 24px;
    font-family: Outfit-SemiBold;
    line-height: 120%;
}

@mixin s3-Regular-24 {
    font-size: 24px;
    font-family: Outfit-Regular;
    line-height: 120%;
}

@mixin s4-SemiBold-20 {
    font-size: 20px;
    font-family: Outfit-SemiBold;
    line-height: normal;
}

@mixin s5-Medium-20 {
    font-size: 20px;
    font-family: Outfit-Medium;
    line-height: normal;   
}

@mixin s6-Regular-20 {
    font-size: 20px;
    font-family: Outfit-Regular;
    line-height: 120%; 
}

@mixin s7-Light-20{
    font-size: 20px;
    font-family: Outfit-Light;
    line-height: 140%;
}

@mixin b1-Medium-16{
    font-size: 16px;
    font-family: Outfit-Medium;
    line-height: normal;
}

@mixin b2-Regular-16{
    font-size: 16px;
    font-family: Outfit-Regular;
    line-height: normal;
}

@mixin b3-Medium-14{
    font-size: 14px;
    font-family: Outfit-Medium;
    line-height: 22px;
}

@mixin b4-Regular-14{
    font-size: 14px;
    font-family: Outfit-Regular;
    line-height: 22px;
}

@mixin b5-Light-14{
    font-size: 14px;
    font-family: Outfit-Light;
    line-height: 140%;   
}

@mixin b6-Light-14-Underline {
    font-size: 14px;
    font-family: Outfit-Light;
    line-height: 140%; 
}

@mixin b7-Regular-12 {
    font-size: 12px;
    font-family: Outfit-Regular;
    line-height: 20px; 
}