//colors
$grayscale-00: #000000;
$grayscale-01: #181818;
$grayscale-02: #444444;
$grayscale-03: #b9b9b9;
$grayscale-04: #cfcfcf;
$grayscale-05: #e4e4e4;
$grayscale-06: #f5f5f5;
$grayscale-07: #ffffff;

$primary-00: #7B31D4;
$primary-01: #954CED;
$primary-02: #A64CED;
$primary-03: #BA8BF3;
$primary-04: #954CED33;

$secondary-01: #2FDBBC;
$secondary-02: #FFAA4C;
$secondary-03: #C1DB2F;

$additional-01: #FF6C2D;
$additional-02: #EC1211;
