.cookie {
    position: fixed;
    right: 16px;
    bottom : -50px;
    left: 16px;
    z-index: 55;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    background: $grayscale-07;
    border-radius: 16px;
    box-shadow: -10px -5px 30px 0 rgb(141 141 141 / 10%);
    transition: all 1.5s cubic-bezier(.31,.01,.68,1.03);

    @include respond{
        right: 0;
        left: 0;
        margin: 0 65px 0 90px;
    }

    &__wrapper{
        flex-direction: column;
        display: flex;
        padding: 30px 20px;

        @include respond{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 30px;
        }    
    }

    &__text {
        padding-bottom: 40px;
        color: $grayscale-01;

        @include s7-light-20;

        @include respond{
            padding-right: 140px;
            padding-bottom: 0;
        }
    }

    &__buttons{
        display: flex;
        flex-flow: column nowrap;
        gap:20px;

        @include respond{
            flex-direction: row;
        }

        &-decline {
            color: $grayscale-00;
            background-color: transparent;
            border: 2px solid $primary-01;

            @include respond{
                margin-right: 20px;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 16px;
        right: 16px;
        background-color: transparent;
        border: none;
    }
}

.view-cookie {
    bottom: 40px;  
    grid-template-rows: 1fr;
}
