header.header
    img(src=require('../../images/logo.png') width=20 height=23).header__logo
    img(src=require('../../images/budss__svg.svg') width=97 height=28).header__name
    include ../burger/burger.pug