.header {
    display: flex;
    align-items: center;
    padding: 15px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 60;
    background-color: $grayscale-01;

    &__logo {
        margin-right: 10px;
    }
}


