.header {
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 16px;
    background-color: $grayscale-01;

    @include respond {
        padding: 7px 60px;
    }

    &__logo {
        @include respond{
            width: 156px;
            height: 52px;
        }
    }
}


