.advantages{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 40px 16px;
    color: $grayscale-07;
    background-color: $primary-01;

    @include respond{
        flex-direction: row;
        gap:100px;
        justify-content: center;
        padding: 40px 0;
    }

    &__br{
        display: none;

        @include respond{
            display: block;
        }
    }

    &__text{
        display: flex;
        flex-wrap: nowrap;
        gap: 17px;
        align-items: center;

        @include t6-bold-40;

        @include respond{
            flex-direction: column;
            gap:16px;
            align-items: start;

            @include t3-bold-64;

            &:nth-child(1){
                width: 217px;
            }

            &:nth-child(2){
                width: 163px;
            }

            &:nth-child(3){
                width: 161px;
            }
        }
       
    }

    &__string {
        @include s4-semibold-20;

        @include respond{
            @include s2-semibold-24;
        }
    }
}