.advantages{
    background-color: $primary-01;
    padding: 40px 16px;
    width: 100%;
    color: $grayscale-07;
    display: flex;
    gap: 40px;
    flex-direction: column;
    @include respond(){
        padding: 40px 0;
        justify-content: center;
        flex-direction: row;
        gap:100px;
    }
    &__text{
        display: flex;
        flex-wrap: nowrap;
        gap: 17px;
        align-items: center;
        @include t6-Bold-40;
        @include respond(){
            gap:16px;
            flex-direction: column;
            align-items: start;
            @include t3-Bold-64;
            &:nth-child(1){
                width: 217px;
            }
            &:nth-child(2){
                width: 163px;
            }
            &:nth-child(3){
                width: 161px;
            }
        }
       
    }
    &__string {
        @include s4-SemiBold-20;
        @include respond(){
            @include s2-SemiBold-24;
        }
    }
}