include ../button/button.pug
-
    var formItemsRequired = [
        {type: 'text', class: `name`, placeholder: `Enter name`}, 
        {type: 'email', class: 'email', placeholder: `Enter email`}, 
        {type: 'tel', class: 'phone', placeholder: `+7 (911) 488-56-66`}, 
       ]  
-
    var formItems = [
        {type: 'text', class: 'company', placeholder: `Enter company`}, 
        {type: 'text', class: 'website', placeholder: `Enter Website/Store Url`}
    ]
section.form__popup  
    h2.visually-hidden form feedback
    form.form
        button(type='button').form__btn-close
            img(src=require('../../images/icons/icon__modal__close.svg') alt='icon closed' width=26 height=26)
        each it in formItemsRequired  
            label(for= it.class  class='form__label')= it.class 
                span.form__label_star 
                    |
                    | *
                input(type= it.type autocomplete='on' placeholder= it.placeholder id= it.class class = 'required__field form__input form__input-' + it.class)
                span.form__error-message This field is required.    
        each it in formItems 
            label(for= it.class  class='form__label')= it.class 
            input(type= it.type autocomplete='on' placeholder= it.placeholder id= it.class class = 'form__input form__input-' + it.class)
        span(class='form__error-message--bottom').form__error-message Please fill in all required fields
        p.form__text 
            | By submitting this form you are agreeing to Budss’s 
            |
            a(href='#').form__text-link Privacy Policy
            |
            | and
            | 
            a(href='#').form__text-link Terms of Use
        +btn('Contact sales')(class='form__btn btn-disabled' type='submit' disabled)
        