*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import '../shared/_variables';
@import '../shared/_fonts';
@import '../shared/_typography';
@import '../shared/mixins';
@import '../component/button/button';
@import '../component/cookie/cookie';
@import '../component/tabs/tabs';
@import '../component/burger/burger';
@import '../component/header/header';
@import '../component/influencer/influencer';
@import '../component/form/form';
@import '../component/modal_success/modal_success';
@import '../component/about_budds/about_budds';
@import '../component/budds_works/budds_works';

body{
    position: relative;
    overflow-x: hidden;
    font-size: 16px;
    font-family: Outfit-Bold, sans-serif;
    background: $grayscale-01;
}

.container {
    min-width: 375px;
    padding: 0 16px;
    @include respond(){
        margin: 0 auto;
        max-width: 1440px;
        padding: 0;
    }
}
main {
    margin: 0 auto;
    max-width: 1440px;
}