@import '../shared/variables';
@import '../shared/fonts';
@import '../shared/typography';
@import '../shared/mixins';
@import '../component/menu_items/menu_items';
@import '../component/button/button';
@import '../component/cookie/cookie';
@import '../component/tabs/tabs';
@import '../component/burger/burger';
@import '../component/header/header';
@import '../component/influencer/influencer';
@import '../component/form/form';
@import '../component/modal_success/modal_success';
@import '../component/about_budss/about_budss';
@import '../component/budss_works/budss_works';
@import '../component/advantages/advantages';
@import '../component/benefit_budss/benefit_budss';
@import '../component/business_grow/business_grow';
@import '../component/footer/footer';


*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    position: relative;
    overflow-x: hidden;
    font-size: 16px;
    font-family: Outfit-Bold, sans-serif;
    background: $grayscale-01;
}

.container {
    min-width: 375px;
    padding: 0 16px;

    @include respond{
        max-width: 1440px;
        margin: 0 auto;
        padding: 0;
    }
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}