.budds-works{
    position: relative;
    padding: 40px 0 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(){
        padding: 100px 0;
        padding-top: 136px;
    }
    &__box-animation {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &__video {
        width: 213px;
        height: 446px;
        border-radius: 36px;
        @include respond(){
            width: 288px;
            height: 603px;
        }
    }
    &__img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 228px;
        height: 461px;
        @include respond(){
            width: 308px;
            height: 623px;
        }
    }
    &__wrapper {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 93px;
        overflow: hidden;
        @include respond(){
            gap: 68px;
        }

    } 
    &__rinning-string{
        user-select: none;
        transition: all 0.1s ease-in-out;
        display: block;
        animation: scroll 20s linear infinite;
        @include t4-Bold-48;
        white-space: nowrap;
        color: $secondary-01;
        @include respond(){
            @include t1-Bold-128;
            animation: scroll 40s linear infinite;
        }
        &:nth-child(2){
            color: $primary-02;
            animation-direction: reverse;
    
        }
        &:nth-child(3){
            position: relative;
            left: 100px;
            color: $secondary-02;
            @include respond(){
                left: 400px;
            }
        }
    }
    &__rinning-substring{
        color: transparent;

        -webkit-text-stroke: 0.2px $grayscale-07;
    
        -webkit-background-clip: text;
        background-clip: text;
        @include respond(){
            -webkit-text-stroke: 0.4px $grayscale-07;
        }
    }
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-232%);
    }
  }