.tabs{
    background-color: $secondary-02;
    @include respond() {
        padding-left: 60px;
    }
    &__button {
        @include b1-Medium-16;

        padding: 9px 40px;
        font-weight: 500;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__button-active {
        color: $grayscale-07;
        background-color: $grayscale-01;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;   
    }
}